.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.course {
    background-image: url(spritesheet.png);
    width: 26px;
    height: 32px;
    background-position: -5px -5px;
}

.edu {
    background-image: url(spritesheet.png);
    width: 42px;
    height: 23px;
    background-position: -41px -5px;
}
.fb {
    background-image: url(spritesheet.png);
    width: 47px;
    height: 47px;
    background-position: -124px -5px;
}

.fb:hover {
    background-image: url(spritesheet.png);
    width: 47px;
    height: 47px;
    background-position: -181px -5px;
}

.git {
    background-image: url(spritesheet.png);
    width: 47px;
    height: 47px;
    background-position: -5px -62px;
}

.git:hover {
    background-image: url(spritesheet.png);
    width: 47px;
    height: 47px;
    background-position: -62px -62px;
}

.login:hover {
    background-image: url(spritesheet.png);
    width: 20px;
    height: 32px;
    background-position: -119px -62px;
}

.login {
    background-image: url(spritesheet.png);
    width: 20px;
    height: 32px;
    background-position: -149px -62px;
    /* display: inline-block; */
}

.logo {
    background-image: url(spritesheet.png);
    width: 243px;
    height: 42px;
    background-position: -5px -119px;
}
.tel {
    background-image: url(spritecontact.png);
    width: 19px;
    height: 21px;
    background-position: -5px -5px;
    display: inline-block;
}

.email {
    background-image: url(spritecontact.png);
    width: 21px;
    height: 16px;
    background-position: -34px -5px;
    display: inline-block;
}

.skype {
    background-image: url(spritecontact.png);
    width: 20px;
    height: 20px;
    background-position: -34px -31px;
    display: inline-block;
}

.tw {
    background-image: url(spritesheet.png);
    width: 47px;
    height: 47px;
    background-position: -5px -171px;
}

.tw:hover {
    background-image: url(spritesheet.png);
    width: 47px;
    height: 47px;
    background-position: -62px -171px;
}

.vk {
    background-image: url(spritesheet.png);
    width: 47px;
    height: 47px;
    background-position: -119px -171px;
}

.vk:hover {
    background-image: url(spritesheet.png);
    width: 47px;
    height: 47px;
    background-position: -176px -171px;
}

.work {
    background-image: url(spritesheet.png);
    width: 36px;
    height: 34px;
    background-position: -238px -5px;
}
